

nav {
    display:flex;
    gap:1em;
    justify-content:center;
}

/* nav {}
    a {}
    img {}
    ol {}
    li {}

form {}
    img {}
    input {}

article {}
    h1 {}
    video {}

ul {}
    li {}
        img {}
        p {} */